/* .content_bac {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 140px;
} */

