.nav {
  grid-area: n;
  background-color: #222222;
  padding-top: 15px;
  padding-left: 20px;
  height: 450px;
}

.menu {
  margin-left: 15px;
  color: white;
}

.menu_link {
  color: white;
}

.music {
  margin-bottom: 30px;
}
