*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}



.container {
  width: 1230px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 170px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "h h"
    "n c";
}


.content_wrapper {
  grid-area: c;
}